@use '../../styles/breakpoints' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f3f4;
}

.paper {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  margin: 1rem;

  @media (min-width: $breakpoint-xs) {
    width: 100%;
  }

  @media (min-width: $breakpoint-sm) {
    width: 67%;
  }

  @media (min-width: $breakpoint-md) {
    width: 42%;
  }

  @media (min-width: $breakpoint-lg) {
    width: 34%;
  }

  @media (min-width: $breakpoint-xl) {
    width: 25%;
  }
}
