@use '@angular/material' as mat;

mat-toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );
}

.title {
  display: flex;
  flex-grow: 1;
}

.title a {
  color: inherit;
  text-decoration: none;
}

mat-toolbar a {
  border-radius: 4px;
}

.user-menu {
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: var(--mat-sys-on-primary);
}

.user-menu mat-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
