@use '@angular/material' as mat;

mat-toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );
}

.title {
  display: flex;
  flex-grow: 1;
}

.title a {
  color: inherit;
  text-decoration: none;
}
