<mat-toolbar>
  <!-- TODO: get the title from a central source -->
  <span class="title"><a routerLink="/">Alchemist</a></span>

  @if (userSession$ | async; as userSession) {
    <button class="user-menu" matIconButton [matMenuTriggerFor]="menu" aria-label="user menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  } @else {
    <a matButton="filled" routerLink="/signin">Sign in</a>
    <a matButton="filled" routerLink="/signup">Sign up</a>
  }
</mat-toolbar>
