@use '@angular/material' as mat;

form {
  margin: 1rem;
  text-align: center;
}

h5 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  margin: 0px 0px 0.35em;
}

a {
  color: var(--mat-sys-primary);
  text-decoration: none;
}

h6 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin: 0px 0px 1.5rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.submit-button {
  border-radius: 4px;
  margin-bottom: 1rem;
  width: 100%;
}

button {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--mat-sys-on-primary),
    )
  );
}

.button-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.error-banner {
  background-color: var(--mat-sys-error);
  color: var(--mat-sys-on-error);
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
}
