<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <!-- TODO: get the title from a central source -->
  <h5><a routerLink="/">Alchemist</a></h5>

  <h6>Sign In</h6>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <!-- TODO: autofocus this element when the view renders -->
    <input matInput formControlName="email" />
    @if (signInForm.controls.email.errors?.['required']) {
    <mat-error>The email is required</mat-error>
    } @if (signInForm.controls.email.errors?.['email']) {
    <mat-error>Please enter a valid email address</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="signInForm.value.showPassword ? 'text' : 'password'"
      formControlName="password"
    />
    <button
      matIconButton
      matSuffix
      (click)="toggleShowPassword($event)"
      [attr.aria-label]="'Show password'"
      [attr.aria-pressed]="signInForm.value.showPassword"
    >
      <mat-icon>{{ signInForm.value.showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (signInForm.controls.password.errors?.['required']) {
    <mat-error>The password is required</mat-error>
    }
  </mat-form-field>

  <button matButton="filled" type="submit" class="submit-button">Sign in</button>
</form>
